<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/mainPage.css"></link>
<script src="../js/apps.js"></script>

<body>

	<div ng-app="myApp" ng-controller="cratesCtrl">

		<table>
			<tr>
				<th>Crate</th>
				<th>Crates for .1X</th>
				<th>Value per crate</th>
				<th>Player amount</th>
				<th>Player total</th>
			</tr>
			<tr ng-repeat="y in crates | orderBy:'amount4Point1'">
				<td>{{y.name}}</td>
				<td>{{y.amount4Point1}}</td>
				<td>{{.1/y.amount4Point1}}</td>
				<td><input type="number" ng-model="y.playerAmount" /></td>
				<td>{{y.playerAmount * (.1/y.amount4Point1)}}</td>
			</tr>
			<tr>
				<td>Total</td>
				<td/>
				<td/>
				<td>{{totalPlayerCrates()}}</td>
				<td>{{totalValue()}}</td>
			</tr>
		</table>
	</div>

</body>

</html>
